*{
    transition: all 0.2s ease-in-out;
}

body{
background: #008888;
display: grid;
place-items: center;
margin: 0;
height: 100vh;
font-family:"Sofia", sans-serif ;
}

.card{
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

@media only screen and (min-width: 1000px) {
    .card{
        flex-direction: row-reverse;
    }
    .card img.birthday{
        width: 100%;
        max-width: 5vw;
        max-height: unset;
    }
}

img.birthday{
    max-height: 40vh;
}
.card .dip{
width: 280px;
border-radius: 5px;
}
.text{
    padding: 1em;
}


.muted{
    opacity: 108;
    text-align: right;
}

.space{
    height: 100px;
}